
html {
    font-family: 'Roboto', sans-serif;
    background: #eee;
}

.wrapper {
    max-width: 967px;
    margin: 0 auto;
    display: flex;
}

header, footer { 
    flex: 1 100%;
    justify-content: space-between;
	align-items: center;
}

header {
    background: #34495e;
    color: white;
}

header h1 {
    padding: 0 20px;
    font-size: 24px;
    display: flex;
    flex-grow: 2;
    transition: background 0.5s ease;
}

header h1:hover {
    background: #2c3e50;
}

header a {
    display: flex;
    color: white;
    text-decoration: none;
    padding: 20px;
}

header nav ul {
    display: flex;
	flex-grow: 1;
	padding: 0 20px 0 0;
}

header nav ul li {
    padding: 4px 0;
    font-size: 18px;
    background: #34495e;
    transition: background 0.5s ease;
}

header nav ul li:hover {
    background: #2c3e50;
}

header nav ul li > ul {
    margin: 2px 0 0 0;
    display: none;
}

header nav ul li:hover > ul {
    display: flex;
    position: fixed;
    flex-direction: column;
}

main {
    margin: 0px auto;
    flex: 1 100%;
}

article {
    margin: 20px 40px;
    padding: 40px;
    flex: 1 100%;
    background: #fff;
    
}

.body-learnmore {
    background: #27ae60;
    color: #fff;
    display: flex;
    align-items: center;
    border: 5px solid #27ae60;
    
    background: repeating-linear-gradient(
      -45deg,
      #27ae60,
      #27ae60 8px,
      #2ecc71 8px,
      #2ecc71 25px
    );
}

.body-learnmore h2 {
    display: flex;
    flex-grow: 1;
    font-weight: bold;
    font-size: 28px;
}

.body-learnmore a {
    font-size: 18px;
    padding: 0 10px;
    color: #555;
    background: #eee;
    padding: 15px 30px;
    text-decoration: none;
    transition: background 0.5s ease, color 0.5s ease;
}

.body-learnmore a:hover {
    color: #eee;
    background: #555;
}
