
html {
    font-family: 'Roboto', sans-serif;
    background: #eee;
}

.wrapper {
    max-width: 967px;
    margin: 0 auto;
    display: flex;
}

b {
    font-weight: bold;
}

header { 
    flex: 1 100%;
    justify-content: space-between;
	align-items: center;
    background: #34495e;
    color: white;
}

header h1 {
    padding: 0 20px;
    font-size: 24px;
    display: flex;
    flex-grow: 2;
    transition: background 0.5s ease;
}

header h1:hover {
    background: #2c3e50;
}

header a {
    display: flex;
    color: white;
    text-decoration: none;
    padding: 20px;
}

header nav ul {
    display: flex;
	flex-grow: 1;
	padding: 0 20px 0 0;
}

header nav ul li {
    padding: 4px 0;
    font-size: 18px;
    background: #34495e;
    transition: background 0.5s ease;
}

header nav ul li:hover {
    background: #2c3e50;
}

header nav ul li > ul {
    margin: 2px 0 0 0;
    display: none;
}

header nav ul li:hover > ul {
    display: flex;
    position: fixed;
    flex-direction: column;
}

main {
    margin: 0px auto;
    flex: 1 100%;
}

main article {
    margin: 20px 40px;
    padding: 40px;
    flex: 1 100%;
    background: #fff;
    
}

main article h2 {
    display: flex;
    flex-grow: 1;
    font-weight: bold;
    font-size: 28px;
    color: #444;

    border-bottom: 2px solid #ccc;
    padding: 0 0 15px 0;
    margin: 0 0 15px 0;
}

main .body-learnmore {
    background: #27ae60;
    display: flex;
    align-items: center;
    border: 5px solid #27ae60;
    
    background: repeating-linear-gradient(
      -45deg,
      #27ae60,
      #27ae60 8px,
      #2ecc71 8px,
      #2ecc71 25px
    );
    
    transition: border 0.75s ease;
}

main .body-learnmore:hover {
    border: 5px solid #666;
}

main .body-learnmore h2 {
    border: none;
    margin: 0;
    padding: 0;
    color: #fff;
}

main .body-learnmore a {
    font-size: 18px;
    padding: 0 10px;
    color: #555;
    background: #eee;
    padding: 15px 30px;
    text-decoration: none;
    transition: background 0.25s ease, color 0.25s ease;
}

main .body-learnmore a:hover {
    color: #eee;
    background: #555;
}

main .body-rowitems ul {
    padding: 0 0 10px 0;
    display: flex;
    justify-content: center;
}

main .body-rowitems ul li {
    display: flex;
    align-items: center;
    text-align: justify;
    flex-direction: column;
    padding: 20px;
    flex-grow: 1;
    flex-basis: 0;
    transition: border 0.25s ease, background 0.25s ease-in-out;
    border-bottom: 2px solid #fff;
}

main .body-rowitems ul li:hover {
    border-bottom: 2px solid #ccc;
    padding: 20px 20px 18px;
    background: #f8f8f8;
}

main .body-rowitems ul img {
    padding: 20px;
    border-radius: 50%;
    background: #444;
    width: 50px;
    height: 50px;
}

main .body-rowitems ul h3 {
    padding: 20px 0;
    font-size: 18px;
    font-weight: bold;
}

main .body-rowitems ul p {
    line-height: 150%;
}

footer {
    background: repeating-linear-gradient(
      45deg,
      #222,
      #222 8px,
      #333 8px,
      #333 25px
    );
    display: flex;
}

footer section {
    width: 100%;
    display: flex;
}

footer article {
    display: flex;
    align-items: center;
    padding: 30px 40px;
    text-align: center;
    flex-grow: 1;
    flex-basis: 0;
    justify-content: center;
    color: #999;
    transition: color 0.5s ease;
}

footer article:hover {
    color: #fff;
}

footer article a {
    color: #999;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.5s ease;
}

footer article a:hover {
    color: #fff;   
}

footer article li {
    font-size: 18px;
    padding: 7px 0;
}